body {
    background-image: url('../img/R.jpeg');
    background-size: cover;
    position: relative;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: #00142382; /* cor + transparência */
  pointer-events: none;
  z-index: -1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



#main_menu {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 8%;
}

#main_menu #planets {
    color: white;
    text-align: center;
}

#main_menu #planets h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    text-shadow: 0px 0px 10px rgba(37, 99, 224, 0.828);
    color: #b0d0ea;
    font-family: Perandory;
}

#main_menu #planets h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #91b2cb;
    text-shadow: 0px 0px 10px rgba(37, 99, 224, 0.828);
    font-family: Perandory;

}    

#main_menu #planets p {
    font-size: 1rem;
    font-weight: 300;
    color: #abb9c7de;
    text-shadow: 1px 1.5px 3px rgb(0, 0, 0);
}

.swiper {
  width: 350px;
  height: 500px;
  box-shadow: 0px 0px 20px 0px rgba(37, 99, 224, 0.828);
    border-radius: 20px;
}

.swiper-slide {
    background-color: #0a2e4391;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(37, 99, 224, 0.828);
    padding: 35px;
}

.curiosity  {
    font-size: 16px;
    color: #d6ecff;
    text-align: justify;
    overflow: auto;
    padding-right: 25px;
    padding-left: 25px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #637381;
}


.planets-information img {
    width: 150px;
    height: 150px;
   
}

.names h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #91b2cb;
    text-shadow: 0px 0px 10px rgba(37, 99, 224, 0.828);
    font-family: Perandory;
}

.page buttom {
    color: #abb9c7c9;
    text-shadow: 1px 1.5px 3px rgb(0, 0, 0);
    margin-top: 20px;
    cursor: pointer;
  
}

.page buttom:hover {
    color: #d6ecff;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(37, 99, 224, 0.828);
}

.page a {
    text-decoration: none;
}


@media screen and (max-width: 1170px) {
    #main_menu {
        padding: 30px 5%;
    }

    .swiper {
        width: 300px;
        height: 450px;
    }

    .swiper-slide {
        padding: 25px;
    }

    .planets-information img {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 600px) {
    body {
    background-image: url('../img/R.jpeg');
    background-size: cover;
    position: relative;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: #00142382; /* cor + transparência */
  pointer-events: none;
  z-index: -1;
}


    #main_menu {
        padding: 20px 3%;
    }

    .swiper {
        width: 250px;
        height: 400px;
    }

    .swiper-slide {
        padding: 20px;
    }

    .planets-information img {
        width: 100px;
        height: 100px;
    }
}